@model AdministracaoGeralModel

@{
    ViewData["Title"] = "Administração Geral";
}
<div class="container" style="background-color:white;">
<partial name="Administracao" />
<br />
<h4>Permissões</h4>

<div asp-validation-summary="ModelOnly" class="text-danger"></div>

<form asp-action="AtribuirRole">
    <div class="form-group">
        <div class="row">
            <div class="form-group col-4">
            <label asp-for="UsuarioId" class="control-label"></label>
            <select asp-for="UsuarioId" id="user" class="form-control" asp-items="@(new SelectList(Model.Usuarios, "Id", "UserName"))">
                <option></option>
            </select>
            </div>

            <div class="form-group col-4">
                <label asp-for="Role" class="control-label"></label><br />
                <select asp-for="Role" class="form-control" asp-items="@(new SelectList(new List<string>(){"CEO", "Funcionario", "Cliente"}))">
                    <option></option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <input type="submit" value="Atribuir Permissão" class="btn btn-primary" />
            <a asp-action="RetirarRole" onclick="@Url.Action("RetirarRole", Model)" class="btn btn-danger">RetirarRole</a>
            <a class="btn btn-info" asp-action="Index">Voltar</a>
        </div>
    </div>
</form>
 </div>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}

<script>
    function PreencheRole(){
        $(document).ready(function(){

            $("#user").select(function(){
                $.getJSON(){
                    $("#role").val(roles)
                }
            })

        })
    }
</script>
}