@{
    ViewData["Title"] = "Home Page";
}

<section id="content">
		<div class="bg1">
			<div class="container_12">
				<div class="wrapper">
					<div class="grid_12">
						<h3 class="p2-1" style="text-align:center;">Your Beauty Estética</h3>
					</div>
				</div>
			</div>
		</div>
		<div class="indent-top11">
			<div class="container_12">
				<div class="wrapper">
					<div class="grid_6">
						<div class="indent-right6-1">
							<div class="slidewrap">
								<div class="wrapper p3-1">
									<div class="pagination"></div>
									<h3 class="extra-wrap">Welcome To Our Site</h3>
								</div>
								<ul class="slider" id="slider1">
									<li class="slide">
										<figure class="p4">
											<img src="images/page1-img5.jpg" alt="">
										</figure>
										<p class="p0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cramsuada lobortis semper. Duis non posuere orci. Vestibulum sagittis,felis in accumsans is a faubus, orci leo cursus felis, nec mattis turpis sapien sed ante. Nullam dapibus luctus hendrerit.</p>
									</li>
									<li class="slide">
										<p>Donec odio quam, volutpat ac sollicitudin sed, sagittis eget sem. Curabitur consequat, mi porta interdum dapibus, nunc nunc ultricies nulla, ac fermentum orci felis id magna. Nam in lacinia purus. Pellentesque habitant morbi tristique senectus et netus et male&shy;suada fames ac turpis egestas. Donec tempor nunc neque, nec laoreet urna. Etiam nisl leo, laoreet ac ornare in, auctor in erat. Vestibulum sed semper leo.</p>
										<p class="p0">Maecenas fringilla fermentum metus ut rhoncus. Etiam rutrum lorem quis velit luctus egestas. Vestibulum nec velit mauris, nec commodo nisi. <span class="hide-mp">Maecenas velit nisl, elementum ut venenatis et, consequat in tortor. Ut eget feugiat lorem. Sed vel condimentum felis. Suspendisse non enim elit, pharetra viverra leo. Donec vel nisl felis. Phasellus vel ante mattis massa vulputate feugiat nec quis dui.</span> </p>
									</li>
									<li class="slide">
										<p class="p4">Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nulla diam libero, frin&shy;gilla gravida pulvinar sit amet, laoreet et diam. Donec vulputate arcu lorem. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>
										<figure>
											<img src="images/page1-img5.jpg" alt="">
										</figure>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="grid_6 last-col">
						<div class="wrapper">
							<div class="dgrid_3">
								<h3 class="p4">Links</h3>
								<ul class="list-1">
									<li><a href="#">Lorem ipsum dolor sit amet</a></li>
									<li><a href="#">Nulla sit amet faucibus orci</a></li>
									<li><a href="#">Phasellus viverra dui vel</a></li>
									<li><a href="#">Praesent vehicula nunc </a></li>
									<li><a href="#">Class aptent taciti sociosqu </a></li>
									<li class="last-item"><a href="#">Alass aptent taciti is ociosqu </a></li>
								</ul>
							</div>
							<div class="dgrid_3">
								<h3 class="p4-1">Our Designers</h3>
								<div class="wrapper p5-1">
									<figure class="img-indent">
										<img src="images/page1-img6.jpg" alt="">
									</figure>
									<div class="extra-wrap indent-top1">
										<h6 class="p1"><a href="#">John Franklin </a></h6>
										<p class="p0">Lorem ipsum dolor sit amet, consectetur adiing. </p>
									</div>
								</div>
								<div class="wrapper p5-1">
									<figure class="img-indent">
										<img src="images/page1-img7.jpg" alt="">
									</figure>
									<div class="extra-wrap indent-top1">
										<h6 class="p1"><a href="#">Alan Smith</a></h6>
										<p class="p0">Lorem ipsum dolor sit amet, consectetur adiing. </p>
									</div>
								</div>
								<div class="wrapper">
									<figure class="img-indent">
										<img src="images/page1-img8.jpg" alt="">
									</figure>
									<div class="extra-wrap indent-top1">
										<h6 class="p1"><a href="#">Marta Healy</a></h6>
										<p class="p0">Lorem ipsum dolor sit amet, consectetur adiing. </p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

<aside>
		<div class="container_12">
			<div class="wrapper">
				<div class="grid_5">
					<div class="wrapper">
						<div class="dgrid_2">
							<h4 class="p2-1">Information</h4>
							<ul class="aside-menu">
								<li><a href="#">About Us</a></li>
								<li><a href="#">Customer Services</a></li>
								<li class="last-item"><a href="#">Contact Us</a></li>
							</ul>
						</div>
						<div class="dgrid_3 last-item">
							<div class="indent-right7">
								<h4 class="p2-1">Useful Links</h4>
								<ul class="aside-menu">
									<li><a href="#">Fermentum nisl</a></li>
									<li><a href="#">Proin et eros in libero</a></li>
									<li class="last-item"><a href="#">Fusce consequat massa</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="grid_5">
					<div class="wrapper">
						<div class="dgrid_3">
							<div class="indent-right7">
								<h4 class="p2-1">Expert Advice</h4>
								<ul class="aside-menu">
									<li><a href="#">Vivamus arcu sem</a></li>
									<li><a href="#">Class aptent taciti</a></li>
									<li class="last-item"><a href="#">Morbi sodales ante </a></li>
								</ul>
							</div>
						</div>
						<div class="dgrid_2 last-item">
							<h4 class="p2-1">Contact Us</h4>
							<ul class="aside-menu">
								<li><a href="https://api.whatsapp.com/send?phone=55011963608477">WhatsApp</a></li>
								<li><a href="https://www.instagram.com/your_beautyestetica/">Instagram</a></li>
								<li class="last-item"><a href="#">Blog</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="grid_2 last-col">
					<h4 class="p3-1">Area administrativa</h4>
					<ul class="social-icons">
						@*<li><a asp-action="Administracao">Administracao</a></li>
						<li><a href="#" class="icon-2"></a></li>
						<li><a href="#" class="icon-3"></a></li>*@
						<li class="last-item" supress-by-role="Funcionario"><a asp-action="Administracao" class="icon-4">Administracao</a></li>
					</ul>
				</div>
			</div>
		</div>
	</aside>